*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: cursive;
	background: salmon;
}

h2{
	font-size: 30px;
	text-align: center;
	padding:150px 0 10px;
}
.tooltip {
	position: absolute;
	left:50%;
	top: 40%;
	transform: translate(-50%, -50%);
    margin: auto;
    background: #502626;
    border-radius: 5px;
    text-align: center;
    padding: 13px 20px;
}
.tooltip span{
	color: #bfbfbf;
	font-weight: 600;
	font-size: 25px;
}
